pymodbus>=3.8,<4
Pillow>=10
psutil>=5.9
cryptography>=42
Adafruit-ADS1x15>=1.0.2
adafruit-blinka>=8
adafruit-circuitpython-ina219>=3
pygame>=2.5
matplotlib>=3.8
rich>=13
RPi.GPIO>=0.7.1; platform_machine == "armv7l" or platform_machine == "aarch64"
